@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;0,900;1,300&display=swap");

/*********TOUS LE SITE***********/

body {
  font-family: "Raleway";
  margin: auto;
}

main {
  margin: auto;
  max-width: 1400px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(54, 53, 53);
}

ul {
  padding-left: 0px;
}

article {
  border-radius: 20px;
  margin: auto;
}
figure {
  border-radius: 20px;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  margin: 30px 0;
}

h2 {
  font-size: 90%;
  font-weight: bold;
  margin-bottom: 0px;
}

.empty-star {
  color: #f2f2f2;
}

/****************************************************************/

/************************* Header ********************************/

/*****************************************************************/

header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

#logo {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

header nav {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

header ul {
  display: flex;
  list-style: none;
  margin-top: 0px;
  align-items: center;
}

header li {
  width: 200px;
  border-top: transparent solid 3px;
  padding-top: 30px;
  text-align: center;
}

header a:hover {
  color: #0065fc;
}

header li:hover {
  border-top: #0065fc solid 3px;
}

/********************************************************/

/**************** le bouton de recherche ****************/

/********************************************************/
.baseLine {
 
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.searchLocation i {
  color: black;
}

.cityIcon {
  height: 50px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 25% 0% 0% 25%;
}

.searchButton {
  background-color: #0065fc;
  color: cornsilk;
  min-width: 130px;
  height: 50px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchCity {
  height: 50px;
  border: solid #f2f2f2 1px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 20px;
}

.searchLocation {
  display: flex;
  font-weight: bold;
  margin: 20px 0;
  
}

/********************************************************/

/***************bouton caché*****************************/

/********************************************************/

.searchLocation span {
  display: none;
}

/*****************************************************/

/**************** les filtres ************************/

/*****************************************************/

.filters {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.filters p {
  margin-right: 20px;
}

.filters i {
  background-color: #deebff;
  color: #0065fc;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters li {
  margin-right: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  border: solid #f2f2f2 3px;
  border-radius: 25px;
  border-left: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="button"] {
  background-color: white;
  border: none;
  font-weight: bold;
  font-family: "Raleway";
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

input[type="button"]:hover {
  background-color: #0065fc;
  color: white;
}

.filters li:hover {
  background-color: #0065fc;
}

/**************************/

/* la petite barre d'info */

/***************************/

.info {
  display: flex;
  align-items: center;
}

.info p {
  margin-left: 10px;
}

.infoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 30px;
  color: #0065fc;
  border: solid #f2f2f2 2px;
  border-radius: 25px;
}

/***************************************************************************/

/***********************les sections****************************************/

/***************************************************************************/

.number {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 25px;
}

/***************************************************************************/

/***********************les articles****************************************/

/***************************************************************************/

article p {
  font-size: 90%;
}

article span i {
  color: #0065fc;
  font-size: 90%;
  margin-top: 10px;
}
figure span i {
  color: #0065fc;
  font-size: 90%;
  margin-top: 10px;
}

/***************************************************************************/

/***********************Section HEBERGEMENT*********************************/

/***************************************************************************/

.accomodation {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-left: 50px;
  background-color: #f2f2f2;
  padding-bottom: 30px;
}

.accomodation div {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
  align-items: center;
  margin: 20px 0;
}

.accomodation article {
  width: 240px;
  height: 200px;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.accomodation article:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.accomodation figure img {
  width: 240px;
  height: 120px;
  border-radius: 20px 20px 0 0;
  margin: 0px;
  object-fit: cover;
  padding: 5px;
}

.accomodation h2 {
  margin-top: 0px;
}

.accomodation figcaption {
  margin-left: 15px;
  margin-bottom: 5px;
  height: 70px;
}

.accomodation p {
  margin: 0px;
  flex: 1;
}

/***************************************************************************/

/******************SECTION LES PLUS POPULAIRES******************************/

/***************************************************************************/
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;

}
.popular {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.popular a {
  height: 150px;
  width: 350px;
  margin: 0px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white;
}
.popular a:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.popular figure {
  margin: 0px;
  display: flex;
}

.popular img {
  width: 140px;
  margin: 0px;
  height: 150px;
  border-radius: 20px 0 0 20px;
  padding: 5px;
  object-fit: cover;
}

.popular figcaption {
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
}

.popular p {
  flex: 1;
}

.popular span {
  margin-bottom: 15px;
}

.popularTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-left: 15px;
}

.popularTitle i {
  font-size: 30px;
 
}

.popular h1 {
  margin-left: 30px;
}

/***************************************************************************/

/***************************Section Acitivites******************************/

/***************************************************************************/

.whiteBoard {
  display: flex;
  flex-direction: column;
}

.whiteBoard h2 {
  height: 50px;
  padding-top: 15px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.activity {
  display: flex;
  justify-content: space-between;
}

.activity figure {
  margin: 0px;
}

/*********************************************************/

/********************Card a 1 image***********************/

/*********************************************************/

.simpleCard {
  display: flex;
  height: 450px;
  width: 300px;
  flex-direction: row;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.simpleCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-image {
  height: 400px;
  width: 300px;
}

.simpleCard img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
}

/*********************************************************/

/********************Card a 2 images**********************/

/*********************************************************/

.doubleCard {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.doubleCard a {
  
  border-radius: 25px;
}


.largeCard {
  height: 250px;
  width: 300px;
  box-shadow: 0px 0px 10px #d8d7d7;
}
.largeCard:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.largeCard img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0 0;
}

.smallCard {
  height: 150px;
  width: 300px;
  box-shadow: 0px 0px 10px #d8d7d7;
}
.smallCard:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.smallCard img {
  object-fit: cover;
  width: 100%;
  height: 100px;
  border-radius: 25px 25px 0 0;
}

.mediumCard {
  height: 200px;
  width: 300px;
  box-shadow: 0px 0px 10px #d8d7d7;
}
.mediumCard:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.mediumCard img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 25px 25px 0 0;
}

/****************************************************************/

/********************* le pied de page **************************/

/****************************************************************/

footer {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding-bottom: 50px;
}

footer nav {
  max-width: 1400px;
  display: flex;
  margin: auto;
  gap: 200px;
}

footer ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 15px;
  list-style: none;
  padding-left: 0px;
}

footer li {
  text-align: left;
  margin-bottom: 10px;
}

footer h2 {
  margin-bottom: 10px;
  margin-left: 0px;
}



