/* Police personnalisée */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;0,900;1,300&display=swap');



body
{
    font-family: 'Raleway';

}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    display: flex;
    align-items: baseline;
}

#logo img
{
    width: 100px;
    margin: 50px 0 10px 10px;
}

nav
{
    border: black solid 2px;
    width: 50%;
    display: flex;
    justify-content: end;

    

}

ul
{
    display: flex;
    justify-content: space-between;
    
}

li
{
   
    height: 60px;
    padding: 10px;
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 10px;
   
    
    
}

li a 
{
    text-decoration: none;
    color: rgb(54, 53, 53);
    padding-top: 50px;
}
li a:hover
{
    color:#0065FC;
    border-top: #0065FC 2px solid;
    
}
/* Section */

h1{

    font-size: 150%;
    font-weight: bold;
}

/* Regles CSS pour les mobiles */
@media all and (max-device-width: 768px)




/*Regles CSS pour les tablettes */
@media screen and (min-width {
    
} all and (max-device-width: 992px)

header
{
    
    color: green;
}

